<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">New Complaints</h4>
                        <p class="card-category">Registered New Complaints</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Complaints
                                    </th>
                                    <th>
                                        Date
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            Name 1
                                        </td>
                                        <td>
                                            Being unable to get through to a company on the telephone
                                        </td>
                                        <td>
                                            02/08/2020
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2
                                        </td>
                                        <td>
                                            Name 2
                                        </td>
                                        <td>
                                            Not having your phone calls returned by a company
                                        </td>
                                        <td>
                                            02/08/2020
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            3
                                        </td>
                                        <td>
                                            Name 3
                                        </td>
                                        <td>
                                            Being kept waiting for an unreasonable period of time on the telephone
                                        </td>
                                        <td>
                                            02/08/2020
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            4
                                        </td>
                                        <td>
                                            Name 4
                                        </td>
                                        <td>
                                            Rude or unhelpful customer service staff
                                        </td>
                                        <td>
                                            02/08/2020
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            5
                                        </td>
                                        <td>
                                            Name 5
                                        </td>
                                        <td>
                                            Being given conflicting advice on the telephone
                                        </td>
                                        <td>
                                            02/08/2020
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            6
                                        </td>
                                        <td>
                                            Name 6
                                        </td>
                                        <td>
                                            Check your messages and notifications
                                        </td>
                                        <td>
                                            02/08/2020
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  